#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.JoinSessionBox {
  padding-top: 80; 
  max-width: 420;
  background: #5d5d63;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Papyrus,fantasy;
}

.JoinSessionBox h1{
  font-weight: bolder;
}

.HostSessionBox{
  padding-top: 80; 
  max-width: 420;
  background: #5d5d63;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Papyrus,fantasy;
}

/*add box or not*/
.CardBox { 
  
  /*color: black;*/
  padding-top: 80; 
  max-width: 420;
  background: #5d5d63;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Papyrus,fantasy;
}

.ChooseGameBox h1{
  padding-top: 80; 
  max-width: 420;
  background: #5d5d63;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Papyrus,fantasy;
}


.ChooseGameBox .Game1But{
  background-image: url('/ProtoImg1.png');
  background-size: cover;
  background-position:  center;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  margin-right: 10px;
  
}

.ChooseGameBox .Game2But{
  background-image: url('/ProtoImg2.png');
  background-size: cover;
  background-position:  center;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  margin-right: 10px;
}

.ChooseGameBox .Game3But{
  background-image: url('/ProtoImg3.png');
  background-size: cover;
  background-position:  center;
  width: 400px;
  height: 200px;
  border-radius: 20px;
}


.ResultsBox{
  padding-top: 80; 
  max-width: 420;
  background: #5d5d63;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Papyrus,fantasy;
}