body {
  margin: 0;
  padding: 0;
  
  background-image: url('/BeerBackGroundCartoon.png');
  background-size: cover;
  background-position:  center;
  color: white;
  font-family: "Inter", sans-serif;
}

input, button {
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #444;
}
